*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styles for body */
body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}
.navbar{
    width: 100% ;
    position: fixed ;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}
.links{
    list-style: none;
    display: flex;
}
.links__link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: -55;
    font-size: 20px;
}
.links__link a:hover, .active a{
    opacity: 1;
}
.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 200px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
}
.home-section__heading{
    color: #fff;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 5px;
}
.home-section__picture{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}
.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}
.project-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
.project-card {
    height: 400px;
    position: relative;
}
.project-card__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}
.project-card__content {
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}
.project-card__title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}
.project-card__info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.project-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.project-btn__github {
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.project-btn__live {
height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: 2px solid #fff;
}
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
    position: relative;
    opacity: 1;
    z-index: 8;
}
.project-card:hover .project-card__img{
    filter: blur(20px);
}
.project-card:hover .project-card__content{
    opacity: 1;
}
.project-section__heading{
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}
.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}
.about-card {
    position:relative;
}
.about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}
.about-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.about-card__btn, 
    .about-card__btn,
    .about-card__btn *,
    .about-card__btn,
    .about-card__btn,
    .about-card__btn,
    .about-card__btn {
      border: 0 solid;
      box-sizing: border-box;
    }
    .about-card__btn {
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: button;
      background-color: #000;
      background-image: none;
      color: #fff;
      cursor: pointer;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      font-size: 100%;
      line-height: 1.5;
      margin: 0;
      /*-webkit-mask-image: -webkit-radial-gradient(#000, #fff);*/
      padding: 0;
    }
    .about-card__btn:disabled {
      cursor: default;
    }
    .about-card__btn:-moz-focusring {
      outline: auto;
    }
    .about-card__btn svg {
      display: block;
      /*vertical-align: middle;*/
    }
    .about-card__btn [hidden] {
      display: none;
    }
    .about-card__btn {
      box-shadow: inset 0 0 0 2px #fff;
      box-sizing: border-box;
      display: block;
      font-weight: 1000;
      padding: 1rem 6.5rem;
      position: relative;
      text-transform: uppercase;
      transition: color 0.1s linear;
    }
    .about-card__btn:after,
    .about-card__btn:before {
      content: "";
      position: absolute;
    }
    .about-card__btn:before {
      border-bottom: var(--border);
      border-top: var(--border);
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
    .about-card__btn:hover:before {
      --border: 4px solid #000;
      -webkit-animation: border-top-and-bottom 1s forwards;
      animation: border-top-and-bottom 1s forwards;
    }
    .about-card__btn:after {
      border-left: var(--border);
      border-right: var(--border);
      bottom: 50%;
      right: 0;
      transform: translateY(50%);
      width: 100%;
      z-index: -1;
    }
    .about-card__btn:hover:after {
      --border: 4px solid #000;
      -webkit-animation: border-right-and-left 1s forwards;
      animation: border-right-and-left 1s forwards;
    }
    @-webkit-keyframes border-top-and-bottom {
      0% {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @keyframes border-top-and-bottom {
      0% {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @-webkit-keyframes border-right-and-left {
      0% {
        height: 0;
      }
      to {
        height: 100%;
      }
    }
    @keyframes border-right-and-left {
      0% {
        height: 0;
      }
      to {
        height: 100%;
      }
    }
    

.about-card__btn:hover {
    background: #000;
}
.skill-section {
    position: relative;
    margin: 100px 0;
}
.skill-section__heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}
.skill-section__container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}
.skill-card {
    position: relative;
}
.skill-card__img {
    display: block;
    margin: auto;
    height: 200px;
}
.skill-card__name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}
.skill-card__info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}
.skill-card__level1 {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
    color: #ff4f4f;
}
.skill-card__level2 {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
  color: yellow;
}
.skill-card__level3 {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
  color: green;
}
.contact-section{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}
::placeholder {
  color: #fff;
}
.form-submit-btn {
background: #ff4f4f;
color: #fff;
text-transform: capitalize;
padding: 15px 40px;
display: block;
margin: auto;
border: none;
border-radius: 10px;
cursor: pointer;
transform: translateY(0);
border-radius: 0px;
transition: 
border-top-left-radius .15s .15s ease-out,
border-top-right-radius .15s calc(.15s * 2) ease-out,
border-bottom-right-radius .15s calc(.15s * 3) ease-out,
border-bottom-left-radius .15s calc(.15s * 4) ease-out,
transform calc(.15s * 4) ease-out
}
.map {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}
.form-submit-btn:hover {
background: #fff;
border-radius: 20px;
color: #000;
transform: translateY(-5px);
}
.icon-container {
  display: flex;
  width: 15vw;
  height: 10vh;
  align-items: center;
}
